<b><a href="https://github.com/MenakaRevel/HydroDA">HydroDA</a>:</b>
Data assimilation framework<br>

<b><a href="https://github.com/MenakaRevel/Empirical_LocalPatch">Emprical Local Patches</a>:</b>
Code for preparing empirical local patches<br>

<b><a href="https://github.com/MenakaRevel/AltiMaP">AltiMaP</a>:</b>
Code for allocating satellite altimetry to <a href="http://hydro.iis.u-tokyo.ac.jp/~yamadai/cama-flood/">CaMa-Flood</a><br>

<b><a href="https://github.com/MenakaRevel/CaMa-DA_package.git">CaMa-DA Package</a>:</b>
CaMa-Flood satellite data assimilation package<br>
<!-- 
<b><a href="https://github.com/MenakaRevel/LakeCalibration.git">Lake Calibration</a>:</b>
Code for calibrating lake parameters of Raven hydrological model using satellite data<br>

<b><a href="https://github.com/MenakaRevel/MulCal.git">Multiple Calibration</a>:</b>
Code for local gauge-specific calibration of Raven routing-only model<br> 

<b><a href="https://github.com/MenakaRevel/CalGLB.git">Global Calibration</a>:</b>
Code for regional calibration of Raven routing-only model<br> 
-->