---
layout: default
---
<div class="row">
  <div id="homeid" class="col-sm-8">
    {{ content }}
  </div>

  <div id="newsid" class="col-sm-4" >
    <h3>Source codes</h3>
    {% include products.html %}

    <h3>News (Twitter)</h3>
    <p>If the News cannot be seen here, please kindly visit my X profile: 
      <a href="https://x.com/menakarevel?lang=en">@menakarevel</a>.
    </p>

    <a class="twitter-timeline" 
       data-tweet-limit="8" 
       data-link-color="#007bff" 
       data-chrome="noheader nodate" 
       href="https://x.com/menakarevel?lang=en">
       Tweets by Menaka Revel
    </a>
    <iframe width="260" height="2000" src="https://rss.app/embed/v1/list/KU9bnNinsMrnuDC1" frameborder="0" transform: scale(0.4); transform-origin: 0 0></iframe>
    <!-- <iframe width="260" height="2000" src="https://rss.app/feeds/KU9bnNinsMrnuDC1.xml" frameborder="0" transform: scale(0.4); transform-origin: 0 0></iframe> -->
    
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</div>
